<div class="container">
    <nav class="navbar bg-body-tertiary fixed-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto my-0 list-group-horizontal">
                <li class="nav-item me-3">
                    <a class="nav-link disabled">© LLCE.de 2023</a>
                </li>
                <li class="nav-item me-3">
                    <a routerLink="/imprint" class="nav-link">Impressum</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/privacy" class="nav-link">Datenschutz</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
