<nav>
    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active">Checkmodus</li>
    </ol>
</nav>

<div class="card my-4 d-flex flex-fill">

    <h4 class="card-header d-flex justify-content-between py-3">
        <!-- Fragen Titel -->
        <div class="me-2">Frage {{currentIndex + 1}} von {{shuffledItems.length}}:</div>
    </h4>

    <div class="card-body row flex-fill">
        <div class="col-12 mb-4">
            <h4>{{shuffledItems[currentIndex].qtxt}}</h4>
        </div>
        <hr>
        <div class="col-12 mb-4">
            <!-- Antwort Titel, jeh nach qtyp -->
            <h4 *ngIf="shuffledItems[currentIndex].qtyp === 'sc'"class="mb-4">Bitte die Antwort auswählen:</h4>
            <h4 *ngIf="shuffledItems[currentIndex].qtyp === 'mc'"class="mb-4">Bitte alle möglichen Antworten auswählen:</h4>
            <h4 *ngIf="shuffledItems[currentIndex].qtyp === 'fi'"class="mb-4">Bitte die Antwort eingeben:</h4>

            <!-- User Input Type -->
            <textarea [ngModel]="userInput" (ngModelChange)="onTextChange($event)" *ngIf="shuffledItems[currentIndex].qtyp === 'fi'" class="form-control" id="exampleFormControlTextarea"
                rows="6"></textarea>

            <!-- Single / Multiple Choice -->
            <div *ngIf="shuffledItems[currentIndex].qtyp !== 'fi'" class="list-group">
                <div *ngFor="let answer of shuffledItems[currentIndex].qanswers; let i = index" >
                    <a (click)="onAnswerSelect(i)" [ngClass]="selectionArray[i] ? 'active' : ''" class="list-group-item list-group-item-action">{{answer.txt}}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-evenly py-4">
        <button class="btn btn-primary w-20" [disabled]="buttonBackDisabled" (click)="onBack()">Vorherige Frage</button>
        <button class="btn btn-primary w-20" [disabled]="buttonNextDisabled" (click)="onNext()">Nächste Frage</button>
        <button class="btn btn-success w-20" (click)="onFinish()">Prüfung beenden</button>
        <button class="btn btn-danger w-20" (click)="onCancel()">Abbrechen</button>
    </div>
</div>