<nav>
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item active">Anmelden</li>
  </ol>
</nav>

<form class="col-12 col-lg-4 offset-lg-4 mt-5">
  <h4>Anmelden</h4>
  <div class="form-floating mt-4 mb-3">
    <input type="email" class="form-control" ngModel name="emailField" #emailField id="emailField" placeholder="max.mustermann@mail.de">
    <label for="emailField">E-Mail</label>
  </div>
  <div class="form-floating mb-4">
    <input type="password" class="form-control" ngModel name="passwordField" #passwordField id="passwordField">
    <label for="passwordField">Passwort</label>
  </div>
  <div class="form-group mb-3">
    <button type="button" class="btn btn-success w-100" (click)="onLoginClick()">Anmelden</button>
  </div>
  <div class="form-group d-flex mb-3">
    <button type="button" class="btn btn-secondary flex-fill me-3" routerLink="/register">Registrieren</button>
    <button type="button" class="btn btn-secondary flex-fill" (click)="onGuestLoginClick()">Demo Zugang</button>
  </div>
</form>