/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-image: url(assets/img/images.jpg);
    background-color: beige;
    background-size: cover;
    background-position: center;
    height:auto ;
}
.card{
    border-radius: 4px;
    background-color: rgb(236, 253, 195);
    margin-top: 50px;
    margin-left: 8em;
    margin-right: 8em;
    height: 40em;

    
   
}