<nav>
    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</nav>
<div class="row gx-3 my-4">
    <div class="col">
        <label class="h4" for="questionPoolSelect">Fragenpool auswählen</label>
        <select [disabled]="buttonsDisabled" class="form-select" id="questionPoolSelect" [(ngModel)]="selectedPool" (change)="updateProgressBars()">
            <option value="lpic1.json">Linux Professional Institute - 1</option>
            <option value="lpic2.json">Linux Professional Institute - 2</option>
        </select>
    </div>
</div>

<div class="row gx-3">
    <h4>Abfragemodus auswählen</h4>

    <div class="col mb-4 text-center d-flex">
        <div class="card shadow-sm flex-fill">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Learn</h4>
            </div>
            <div class="card-body">
                <ul class="mb-4 text-start">
                    <li>Fragen Einzeln und als Liste</li>
                    <li>Kein Zeitlimit</li>
                    <li>Keine Benotung</li>
                    <li>Keine Statistiken</li>
                    <li>Mit Merkfunktion</li>
                </ul>
            </div>
            <div class="card-footer">
                <button type="button" [disabled]="buttonsDisabled" (click)="onStart('/learn')" class="btn btn-lg w-100 btn-success mt-2 mb-3">Starten</button>
                <div class="progress-stacked">
                    <div class="progress" role="progressbar" [style.width.%]=[learnWidthMarked]>
                        <div class="progress-bar bg-warning"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-4 text-center d-flex">
        <div class="card shadow-sm flex-fill">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Check</h4>
            </div>
            <div class="card-body">
                <ul class="mb-4 text-start">
                    <li>Fragen nur einzeln</li>
                    <li>Kein Zeitlimit</li>
                    <li>Mit Benotung</li>
                    <li>Mit Statistiken</li>
                    <li>Möglichkeit zum Überspringen</li>
                </ul>
            </div>
            <div class="card-footer">
                <button type="button" [disabled]="buttonsDisabled" (click)="onStart('/check')" class="btn btn-lg w-100 btn-primary mt-2 mb-3">Starten</button>
                <div class="progress-stacked">
                    <div class="progress" role="progressbar" [style.width.%]=[checkWidthRight]>
                        <div class="progress-bar bg-success"></div>
                    </div>
                    <div class="progress" role="progressbar" [style.width.%]=[checkWidthWrong]>
                        <div class="progress-bar bg-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-4 text-center d-flex">
        <div class="card shadow-sm flex-fill">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Exam</h4>
            </div>
            <div class="card-body">
                <ul class="mb-4 text-start">
                    <li>Fragen nur einzeln</li>
                    <li>20 Minuten Zeitlimit</li>
                    <li>Mit Benotung</li>
                    <li>Mit Statistiken</li>
                    <li>Ohne Überspringen</li>
                </ul>
                
            </div>
            <div class="card-footer">
                <button type="button" [disabled]="buttonsDisabled" (click)="onStart('/exam')" class="btn btn-lg w-100 btn-danger mt-2 mb-3">Starten</button>
                <div class="progress-stacked">
                    <div class="progress" role="progressbar" [style.width.%]=[examWidthRight]>
                        <div class="progress-bar bg-success"></div>
                    </div>
                    <div class="progress" role="progressbar" [style.width.%]=[examWidthWrong]>
                        <div class="progress-bar bg-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>